/*Meeran Haq, Student Number: 8711306 */

body {
    font: small-caps, italic, bold;
    background-color: hsla(150, 50%, 50%, 0.8);
    height: 50vh;
    width: 80vw;
}

/*p{
    margin-left: 5em;
    border: #c35;
    border-style: dashed;
    display: block; margin: 25px;
    text-align: center;
}*/

h2{
    color: #c35;
    font-size: width 50%, length 50%;
}